@if (quickFilterDisclaimers().length) {
  <div class="po-row">
    <div class="po-sm-12 po-md-12">
      <po-disclaimer-group
        [p-title]="'Apresentando resultados filtrados por:'"
        [p-disclaimers]="quickFilterDisclaimers()"
        (p-remove)="removeQuickFilter($event)"
        (p-remove-all)="clearAllFilters()">
      </po-disclaimer-group>
    </div>
  </div>
}

<po-page-dynamic-table
  #dynamicTable
  p-title="Cockpit de Vendas (MCV)"
  [p-breadcrumb]="breadcrumb"
  [p-fields]="fields()"
  [p-service-api]="serviceApi()"
  [p-table-custom-actions]="tableCustomActions"
  [p-page-custom-actions]="pageCustomActions"
  [p-concat-filters]="true"
  p-quick-search-param="search">
</po-page-dynamic-table>

<po-modal
  #modalAdvancedFilters
  p-title="Busca avancada"
  [p-primary-action]="{ label: 'Aplicar filtros', action: applyAdvancedFilters.bind(this) }"
  [p-secondary-action]="{ label: 'Limpar', action: clearDraftAdvancedFilters.bind(this) }">
  @if (isGerente()) {
    <div class="po-row">
      <po-select
        class="po-sm-12 po-md-12"
        name="vendedorFiltro"
        [ngModel]="draftAdvancedFilterVendedorId()"
        (p-change)="updateDraftAdvancedFilterVendedor($event)"
        p-label="Vendedor"
        [p-options]="vendedores()">
      </po-select>
    </div>
  }
</po-modal>

<po-modal
  #modalAtendimento
  p-title="Registrar Atendimento"
  [p-primary-action]="{ label: 'Salvar Registro', action: saveAtendimento.bind(this) }">
  <div class="po-row">
    <po-info class="po-sm-12 po-md-12" p-label="Cliente" [p-value]="selectedCliente().cliente_nome"></po-info>
  </div>

  <div class="po-row">
    <po-select
      class="po-sm-12 po-md-12"
      name="tipo"
      [ngModel]="atendimento().atendimentoTipoId"
      (p-change)="updateAtendimentoTipo($event)"
      p-label="Tipo de Contato"
      [p-options]="tiposAtendimento()"
      [p-required]="true">
    </po-select>
  </div>

  <div class="po-row">
    <po-textarea
      class="po-sm-12 po-md-12"
      name="obs"
      [ngModel]="atendimento().observacao"
      (ngModelChange)="updateObservacao($event)"
      p-label="Relato do Atendimento"
      [p-required]="true"
      [p-rows]="4">
    </po-textarea>
  </div>

  <div class="po-row">
    <po-datepicker 
      class="po-sm-12 po-md-6" 
      name="retorno" 
      [ngModel]="atendimento().retorno" 
      (ngModelChange)="updateRetorno($event)" 
      p-label="Agendar Retorno?">
    </po-datepicker>
  </div>
</po-modal>
