<div class="po-wrapper" *ngIf="authService.isAuthenticated() && !isLoginPage; else noAuth">
  
  <po-toolbar 
    p-title="RCG CRM"
    [p-profile]="profile"
    [p-profile-actions]="profileActions"
    [p-actions]="toolbarActions">
  </po-toolbar>
  
  <po-menu 
    [p-menus]="menus"
    [p-filter]="true">
    
    <ng-template p-menu-header-template>
      <div class="po-p-3 po-pt-4 po-mb-3" style="background-color: white;">
        <div style="color: #9da3a5; font-size: 24px; font-weight: 300; font-family: sans-serif; line-height: 1.1;">Welcome,</div>
        <div style="color: #555ad1; font-size: 28px; font-weight: 400; font-family: sans-serif; line-height: 1.1; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
          {{ profile.title }}
        </div>
      </div>
    </ng-template>

  </po-menu>

  <router-outlet></router-outlet>
</div>

<ng-template #noAuth>
  <router-outlet></router-outlet>
</ng-template>
