<div class="po-wrapper" *ngIf="authService.isAuthenticated() && !isLoginPage; else noAuth">
  <po-toolbar 
    p-title="RCG CRM"
    [p-actions]="toolbarActions">
  </po-toolbar>
  
  <po-menu 
    [p-menus]="menus"
    [p-logo]="logo"
    [p-filter]="true">
    
    <ng-template p-menu-header-template>
      <div class="po-p-3 po-mb-2">
        <div style="color: #aeb2b5; font-size: 22px; font-weight: 300; font-family: sans-serif;">Welcome,</div>
        <div style="color: #555; font-size: 26px; font-weight: 400; font-family: sans-serif; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
          {{ profile.title }}
        </div>
      </div>
    </ng-template>

  </po-menu>

  <router-outlet></router-outlet>
</div>

<ng-template #noAuth>
  <router-outlet></router-outlet>
</ng-template>
