:root {
--text-color-light: #000000A8;
--template-border-color: #DFE4ED;
--font-size: 15px;
--text-color: #000000;
--text-color-strong: #000000;
--font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--header-height: 60px;
--header-logo-background: #FFFFFF;
--header-background-color: #FFFFFF;
--menu-width: 280px;
--menu-background-color: #3C8DBC;
--menu-master-color-strong: #fff;
--menu-check-color: #000000;
--submenu-background-color: #3C8DBC;
--main-color: #3C8DBC;
--live-background-color: #fff;
--button-height: 35px;
--button-text-color: #000000;
--button-background: #fff;
--button-border-radius: 2px;
--button-padding: 8px;
--field-height: 35px;
--field-border-top: 1px;
--field-border-bottom: 1px;
--field-border-right: 1px;
--field-border-left: 1px;
--field-border-radius: 0px;
--field-background: #fff;
--field-border-color: #ccc;
--field-color: #000000;
--field-focus-border-color: ;
--field-placeholder-color: #000000;
--content-border-radius: 0px;
--content-background: #3C8DBC;
--content-border-color: #DFE4ED;
--panel-background: #fff;
--panel-border-radius: 0px;
--modal-background: #fff;
--submenu-sub-text-color: #000000;
--scrollbar-color: #DFE4ED;
--color-overlay: #0000004d;
--preloader-color: #000000;
--live-area-width: 100%;
--header-border-bottom: #FFFFFF;
--header-logo-font-size: 22px;
--header-logo-border-right: #FFFFFF;
--header-logo-border-bottom: #FFFFFF;
--header-track-border-right: #FFFFFF;
--header-box-display: none;
--header-box-background: #FFFFFF;
--panel-header-background: #3C8DBC;
--panel-body-padding: 15px;
--panel-border-color: #00000020;
--button-border: #DFE4ED;
--button-text-color-hover: #3C8DBC;
--menu-border-right: #3C8DBC;
--menu-icon-font-size: 15px;
--menu-background-check: #FFFFFF;
--menu-button-border-color: #FFFFFF;
--submenu-border-right: #b8c7ce;
--submenu-text-color: #000000;
--submenu-text-hover: #fff;
--submenu-background-check: #3C8DBC;
--submenu-check-color: #fff;
--top-menu-border: #FFFFFF;
--top-menu-background-color: #FFFFFF;
--top-menu-background-check: #FFFFFF;
--top-menu-check-color: #FFFFFF;
--top-menu-hover-color: #fff;
--top-menu-color: #fff;
--top-submenu-background-color: #fff;
--top-submenu-text-color: #000000;
--top-submenu-text-hover: #FFFFFF;
--top-submenu-background-check: #FFFFFF;
--top-submenu-check-color: #fff;
--field-padding-horizontal: 8px;
--login-background-color: ;
--login-panel-header-background: #FFFFFF;
--login-panel-left-background-color: #FFFFFF;
--login-panel-right-background-color: #FFFFFF;
--login-button-background: #3C8DBC;
--login-button-text-color: #FFFFFF;
--login-panel-left-text-header-color: #000000;
--login-panel-left-text-header-align: left;
--login-panel-left-text-header-font-size: 40px;
--login-panel-left-text-header-font-weight: 700px;
--login-panel-left-text-footer-color: #000000;
--login-panel-left-text-footer-align: left;
--login-panel-left-text-footer-font-size: 30px;
--login-panel-left-text-footer-font-weight: 700px;
--login-panel-detail-display: flex;
--login-link-color: #000000;
--login-panel-detail-display-image: flex;
--login-panel-detail-display-details: none;
--login-panel-detail-image-size: contain;
--login-panel-detail-image-position: center;
--login-panel-detail-direction: row;
--login-panel-max-width: 1250px;
--login-panel-border-radius: 0px;
--login-panel-box-shadow:  0px 0px 10px 4px #0000004d;
--login-title-align: center;
--login-title-font-weight: 700px;
--login-title-color: ;
--login-header-font-size: 40px;
--login-header-align: center;
--login-header-color: #000000;
--login-border-color: #FFFFFF;
--tr-hover-background: #eceff4;
--tr-hover-color: #212529;
--tr-even-background: #fff;
--tr-odd-background: #0000000d;
--table-body-color: #212529;
--table-header-color: #212529;
--modal-footer-background: #FFFFFF;
--modal-header-background: #00000008;
--modal-header-color: #000000;
--button-box-shadow: none;
--panel-box-shadow: 0 2px 10px 0px #00000033;
--panel-header-color: #000000;
--panel-footer-background: #00000008;
--header-text-color: #000000;
--header-box-shadow: none;
--menu-box-shadow: none;
--menu-user-splash-background: #3C8DBC;
--panel-header-font-size: 17px;
--panel-header-font-weight: 600px;
--panel-header-padding-vertical: 10px;
--panel-header-padding-horizontal: 10px;
--panel-header-border-color: transparent;
--header-logo-text-color: #FFF;
--menu-background-button-circle: #fff;
--menu-color-button-circle: #000000;
--top-menu-background-button-circle: #fff;
--top-menu-color-button-circle: #000000;
--submenu-font-size: 15px;
--submenu-padding-horizontal: 0px;
--submenu-item-padding-horizontal: 12px;
--submenu-item-padding-vertical: 12px;
--modules-button-radius: 100px;
--login-panel-left-header-image-position: center;
--login-text-center-align: center;
--login-text-center-size: 18px;
--login-text-center-weight: 600px;
--login-text-center-color: #555;
--name: RCG;
--field-padding-vertical: 0px;
--panel-padding: 0px;
--header-box-padding-horizontal: 0px;
--header-box-padding-vertical: 0px;
--header-logo-padding-horizontal: 0px;
--header-logo-padding-vertical: 0px;
--login-html: ;
--login-panel-detail-force-full-image: force-full;
--login-title-font-size: 40px;
--show-text-center: ;
--panel-row-margin-bottom: 7px;
--tab-active-border-color: #DFE4ED;
--tab-active-background: #fff;
--tab-active-color: #516283;
--tab-border-color: transparent;
--tab-background: #fff;
--tab-color: #616776;
--tab-border-radius: 8px;
--tab-font-size: 15px;
--tab-font-weight: normal;
--table-header-font-size: 15px;
--table-header-font-weight: normal;
--table-header-background: transparent;
--table-header-border-color: #DFE4ED;
--table-header-padding-vertical: 12px;
--field-check-color: #fd9203;
--login-panel-max-height: 550px;
--field-disabled-background: #DFE4ED;
--field-disabled-text-color: #616776;
--field-disabled-border: #DFE4ED;
--login-form-box-shadow: none;
}